.Chat {
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;    
  flex-direction: column;
  width: 375px;
  margin-top: 60px;
  
  height: 90vh;
  max-width: 375px;
  background-color: #fff;
  border-radius:10px;
  
}

.header-container {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.message-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  
  gap: 50px;
  top: 130px;
  height:75%;
  
  width: 100%;
  padding: 20px;
  overflow: auto;
  
 
}

#user-img {
  padding: 2px;
  
  /* background: linear-gradient(100deg, #215CF2, #E94057 100%, #83B0C9 100%); */
  border-radius: 50%;
  line-height: 0;
 
} 


.online {
  background-color:#13d60f ;
}

.offline {
  background-color: #bebebe;
}


#status-btn {
  background: none;
  border: 0;
  cursor: pointer;
}



h2 {
  font-family: Poppins, sans-serif;
  margin-left: 15px;
}




#user-img {
  padding: 2px;
  
  /* background: linear-gradient(100deg, #215CF2, #E94057 100%, #83B0C9 100%); */
  border-radius: 50%;
  line-height: 0;
 
} 


img {
  height:48px;
  width: 48px;
  border-radius:50%;
  padding:2px;
}


#user-name {
  color: #fff;
}


.input-login {
  border: 0;
  border-bottom: 1px solid #c2c2c2;
}

.input-login:focus {
  outline:0;
}

