
.input-container {
  width: 100%;
  position: absolute;
  bottom: 15px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-message {
  width: 329px;
  height: 40.14px;
  position: relative;
  bottom: 5px;
 
  border: 1px solid #E8E6EA;
  border-radius: 15px;
  background: none;
  color: #000;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding-left: 10px;
}

.send-message-button {
  width: 30px;
  height: 30px;
  border: 1px solid #E8E6EA;
  background: none;
  border-radius: 50%;

  
  cursor: pointer;

  transition: filter 0.2s;
  
  position: absolute;
  right: 30px;
  bottom: 10px;
  
  
  text-align: center;
  
  font-family: Poppins, sans-serif;
  font-weight: 7500;
}