
.Message {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  
  gap: 20px;
  top: 130px;
  height:75%;
  
  width: 100%;
  padding: 20px;
  overflow: auto;
}

#message-container {
  position: relative;
  align-self: flex-end;
  width: 100%;
  
  max-width: 250px;
  height: 95px;
  background: #EDECEB;
  border-radius: 15px 15px 0px 15px;
  
  padding: 15px;
  color: #000;
  font-family:ABeeZee, sans-serif ;
  font-size: 14px;
  float: left;
  word-break: break-all;
  overflow:auto;
  margin: 25px;
}